name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ensure:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: corepack enable
      - run: pnpm --version
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "pnpm"
          cache-dependency-path: "**/pnpm-lock.yaml"
      - name: install
        run: pnpm install --frozen-lockfile --prefer-offline

      - id: diff
        if: ${{ github.head_ref }}
        name: List for difference of the test cases
        run: |
          git diff HEAD~1 --name-only -- ./tests | sed 's/^tests\///g' | sed 's/.ts$//' > diff.txt
          cat diff.txt
          echo "SUITES=$(cat diff.txt | sed -e 's/\n/ /g')" >> $GITHUB_OUTPUT

      - name: Run tests
        if: ${{ github.head_ref }}
        run: |
          pnpm tsx ecosystem-ci.ts run-suites ${{ steps.diff.outputs.SUITES }}
