name: Ecosystem CI

env:
  CI: 1
  # 7 GiB by default on GitHub, setting to 6 GiB
  # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources
  NODE_OPTIONS: --max-old-space-size=6144

on:
  workflow_dispatch:
    inputs:
      version:
        description: "swc version to use"
        required: true
        type: string
        default: "nightly"
      suite:
        description: "test suites to run. Select _ to run all tests"
        required: true
        type: string

jobs:
  execute-selected-suite:
    name: Test ${{ inputs.suite }} with ${{ inputs.version }}
    timeout-minutes: 30
    concurrency:
      group: swc-ci-project=${{ inputs.suite }}
      cancel-in-progress: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: |
          curl -fsSL https://fnm.vercel.app/install | bash

      - run: |
          fnm env | sed 's/rehash//' | sed -e 's/export //' > ./vars.txt
          cat ./vars.txt

          export PATH="/home/runner/.local/share/fnm:$PATH"
          echo "/home/runner/.local/share/fnm" >> $GITHUB_PATH
          eval "$(cat ./vars.txt)" >> $GITHUB_ENV

      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
        id: setup-deno
        continue-on-error: true
      - run: corepack enable
      - run: pnpm --version
      - run: pnpm i --frozen-lockfile
      - run: >-
          pnpm tsx ecosystem-ci.ts run-suites ${{ inputs.suite }}
          --release ${{ inputs.version }}
        id: ecosystem-ci-run

      - if: always()
        name: Download previous result
        uses: actions/checkout@v4
        with:
          repository: swc-project/raw-green-data
          path: "green-data"

      - if: success() || failure()
        name: "Last"
        run: |
          mkdir -p green-data/${{ inputs.suite }}
          echo "${{ job.status }}" > green-data/${{ inputs.suite }}/last.txt

      - if: success()
        name: "Mark last success"
        run: |
          echo "https://github.com/swc-project/swc-ecosystem-ci/actions/runs/${{ github.run_id }}" > green-data/${{ inputs.suite }}/last-success.txt

      - if: success() || failure()
        name: Upload result
        uses: JamesIves/github-pages-deploy-action@4.1.0
        with:
          token: ${{ secrets.BOT_GH_TOKEN }}
          branch: main
          folder: green-data
          clean: false
          single-commit: false
          git-config-email: github-bot@swc.rs
          repository-name: swc-project/raw-green-data
          commit-message: "Update ${{ inputs.suite }}: ${{ job.status }}"

      - if: failure()
        name: Discord Webhook Action
        uses: tsickert/discord-webhook@v5.3.0
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          content: |
            Test for `${{ inputs.suite }}` with `${{ inputs.version }}` failed.
            See https://github.com/swc-project/swc-ecosystem-ci/actions/runs/${{ github.run_id }} for details.
